<!DOCTYPE html>
<html>
  <head>
    <title>Tanpre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" >

  </head>

  <body>
  
     <header class="header">
      <div class="header__bar">
        <h1 class="logo"><a href="/">Tanpre</a></h1>
      </div>
    </header>
  
  
    <%= yield %>
    
    <footer>
      <p>
        Copyright Tanpre 2020.
      </p>
    </footer>
  </body>
</html>
